{% extends "base.html" %}
{% load static %}

{% block titulo %} Inicio {% endblock %}

{% block contenido %}
<div class="jumbotron"
  style="background-image: url('{% static 'peliculas/fondoJumbotron.jpeg' %}'); background-size: cover; background-position: center; color: white; padding: 50px;">
  <h1>Bienvenido a DayMovies!</h1>
  <p>Explora, descubre y disfruta de tus películas favoritas</p>
  <div class="container mt-5">
    <form class="d-flex justify-content-center">
      <input class="form-control me-2" style="border-radius: 25px;" type="search" placeholder="Buscar películas"
        aria-label="Search">
      <button class="btn bg-success text-white" style="border-radius: 25px;" type="submit">Buscar</button>
    </form>
  </div>
</div>
<div class="container mt-4">
  <h2 style="font-weight: bold; color:#243b1b;">Top 5 peliculas</h2>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="{% static 'peliculas/card1.jpeg' %}" class="card-img-top" alt="Película 1">
        <div class="card-body">
          <h5 class="card-title">Pride & Prejudice</h5>
          <p class="card-text">feb 10, 2006</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="{% static 'peliculas/card5.jpeg' %}" class="card-img-top" alt="Película 2">
        <div class="card-body">
          <h5 class="card-title">Cars 2</h5>
          <p class="card-text">jun 24, 2011</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="{% static 'peliculas/card3.jpeg' %}" class="card-img-top" alt="Película 2">
        <div class="card-body">
          <h5 class="card-title">How to Lose a Guy in 10 Days</h5>
          <p class="card-text">jan 27, 2003</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="{% static 'peliculas/card4.jpeg' %}" class="card-img-top" alt="Película 2">
        <div class="card-body">
          <h5 class="card-title">Asako I & II</h5>
          <p class="card-text">may 14, 2018</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="{% static 'peliculas/card6.jpeg' %}" class="card-img-top" alt="Película 2">
        <div class="card-body">
          <h5 class="card-title">The Princess and the Frog</h5>
          <p class="card-text">dec 11, 2009</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}